<article class="n-item">
  <a href="<%= url %>" class="n-item_link">
    <div class="n-item_meta">
      <time datetime="<%= datetime %>" class="n-item_date"><%= date %></time>
      <span class="n-item_category"><%= category %></span>
    </div>
    <div class="n-item_body">
      <h2 class="n-item_title"><%= title %></h2>
      <span class="n-item_arrow"></span>
    </div>
  </a>
</article>